<div class="col-xl-6 form-group">
  <div
    class="
      translate-bottom-75
      opacity-animation
      transition-150 transition-delay-1000
    "
  >
    <input
      type="text"
      placeholder="Telefone"
      class="form-control"
      data-error="Phone field is required"
      required
    />
    <div class="help-block with-errors"></div>
  </div>
</div>
<div class="col-12 form-group">
  <div
    class="
      translate-bottom-75
      opacity-animation
      transition-150 transition-delay-1300
    "
  >
    <select class="form-control" style="width: 100%;" name="subject" required>
      <option value="Desenvolvimento de Sistemas Customizados">
        Desenvolvimento de Sistemas Customizados
      </option>
      <option value="Desenvolvimento de Sites">Desenvolvimento de Sites</option>
      <option value="Consultoria Empresarial">Consultoria Empresarial</option>
      <option value="Consultoria Estratégica">Consultoria Estratégica</option>
      <option value="Comercialização de Sistemas PDV">
        Comercialização de Sistemas PDV
      </option>
      <option value="Comercialização de Sistemas de Gestão (ERP)">
        Comercialização de Sistemas de Gestão (ERP)
      </option>
      <option value="Emissão de Certificado Digital">
        Emissão de Certificado Digital
      </option>
      <option value="Venda de Equipamentos para PDV">
        Venda de Equipamentos para PDV
      </option>
      <option value="Revenda de Máquinas de Cartão de Crédito">
        Revenda de Máquinas de Cartão de Crédito
      </option>
    </select>
    <div class="help-block with-errors"></div>
  </div>
</div>
